# Ignore everything in the output directory
scanner_interface/output/*

# Except for the specific file
!scanner_interface/output/example/positions.json

# Ignore Python cache directories
__pycache__/
scanner_interface/__pycache__/
scanner_interface/routes/__pycache__/

# Ignore log files
*.log

# Ignore specific log file
scanner_interface/app.log
.DS_Store
*.DS_Store
calibration/etellerandet.ply
